[submodule "3-passwordstore-audit"]
	path = 3-passwordstore-audit
	url = https://github.com/cyfrin/3-passwordstore-audit
[submodule "4-puppy-raffle-audit"]
	path = 4-puppy-raffle-audit
	url = https://github.com/cyfrin/4-puppy-raffle-audit
[submodule "5-t-swap-audit"]
	path = 5-t-swap-audit
	url = https://github.com/cyfrin/5-t-swap-audit
[submodule "6-thunder-loan-audit"]
	path = 6-thunder-loan-audit
	url = https://github.com/cyfrin/6-thunder-loan-audit
[submodule "7-vault-guardians-audit"]
	path = 7-vault-guardians-audit
	url = https://github.com/cyfrin/7-vault-guardians-audit
[submodule "8-boss-bridge-audit"]
	path = 8-boss-bridge-audit
	url = https://github.com/cyfrin/8-boss-bridge-audit